@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable {
  overflow-y: auto;
  max-height: 100vh;
}


.scrollable-preview {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Fixer la page quand la modale est ouverte */
.modal-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

/* Optimisation mobile pour la modale */
@media (max-width: 768px) {
  .modal-box {
    margin: 0 !important;
    max-width: 100vw !important;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    border-radius: 0 !important;
  }
}